html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}
.container {
  display: flex;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
  width: 1280px;
  height: 720px;
  border: 3px solid darkblue;
}
.moveObject {
  width: 100px;
  height: 100px;
  background-color: darkblue;
  margin: 5px;
}
.redMoveObj {
  width: 100px;
  height: 100px;
  background-color: red;
  margin: 5px;
}
.navbar {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: bisque;
}
nav a:hover,
nav a:active,
nav a:link,
nav a {
  text-decoration: none;
  color: black;
}
nav {
  display: flex;
  width: 700px;
  justify-content: space-around;
}
.linkdiv {
  width: 100px;
  height: 20px;
  margin: 5px;
  background-color: red;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}
.maincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  margin-top: 100px;
}